*{
  box-sizing: border-box;
}
body{
	background-color: #f7f7f7;
}
.whitebg{
	background-color: white;
  
}
.mainimg{
	margin-left: 20%;
}
.top{
	max-width: 100%;
	background-color: white;
	height: auto;
	margin-bottom: 0;
	margin-top: -18px;
  color: #ff751a;
  padding-bottom: 15px;
  overflow: hidden;
}
.headimg{
  float: left;
  margin-left: 20%;
  padding-top: 5px;
  margin-top: 30px;
}
.headname{
  margin-top: 30px;
  float: left;
  margin-left: 30px;
}
.top h2{
   font-weight: bold;
}
.top h5{
  text-align: center;
}
.nav-main{
    width: 100%;
    background-color: #ff751a;
    color: white;
    height: 50px;
    z-index: 1000;
  }
  .nav-main .logo{
    float: left;
    height: 25px;
    padding: 15px 30px;
    line-height: 20px;
  }
  .nav-main > ul{
    margin:0;
    padding: 0;
    float: left;
    list-style-type: none;
  }
  .nav-main > ul >li{
    float: left;
    text-align: center;
    font-size: 17px;
  }
  .nav-item{
    display: inline-block;
    padding: 15px 20px;
    height: 50px;
    line-height: 20px;
    text-decoration: none;
    color: white;
  }
  .nav-item:hover{
    background-color: white;
    color: #ff751a;
    text-decoration: none;
  }
  .nav-content{
    position: absolute;
    overflow: hidden;
    background-color: #ff751a;
    color: white;
    max-height: 0;
    
  }
  .nav-content li{
    border-bottom: 0.5px solid white;
    color: white !important;
  }
  .nav-content li:hover{
    background-color: white;
    color: #ff751a !important;

  }
  .nav-sub{
   
    width: 100%;
  }
  .nav-sub ul{
    padding: 0;
    margin:0;
    list-style-type: none;
  }
  .nav-sub ul li a{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
  }
  .nav-sub ul li a:hover {
      background-color: white;
      color: #ff751a;
      text-decoration: none;

  }
  
  .parent{
    z-index: 3000;
    position: relative;
    background-color: #ff751a;
    color: white;
    max-width: 100%;
  }
  .nav-item:hover, .nav-item:focus{
    background-color: white;
    color: #ff751a;
    text-decoration: none;
  }
  .nav-item:hover ~ .nav-content{
    max-height: 400px;
    border:0.5px solid white;
    -webkit-transition: max-height 0.4s ease-in;
    -moz-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
    display: block;
    border: 0.5px solid #ff751a;
    border-top: 0.5px solid white !important;
  }

  .nav-gap{
    margin-left: 25%;
  }
  @media screen and (max-width: 1100px ){
    .nav-gap{
      margin-left: 15%;
    }
  }
  .nav-content:hover{
    display: block;
    position: absolute;
    max-height: 400px;
    border: 0.5px solid #ff751a;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 0.5px solid white !important;
  }

.nav {
  overflow: hidden;
  background-color: #ff751a;
  max-width: 100%;
  color: white;

}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: #ff751a;
}
.nav a:first-child{
	margin-left: 30%;
}
.nav .icon {
  display: none;
}

@media screen and (max-width: 1100px){
	.nav a:first-child{
  	margin-left: 15%;
  }
}
@media screen and (max-width: 1100px){
  .headimg{
    margin-left: 13%;
  }
 
}
@media screen and (max-width: 900px){
  .headimg{
    margin-left: 8%;
  }
 
}
@media screen and (max-width: 850px){
  .headimg{
    margin-left: 5%;
  }
  .headname h2{
    font-size: 24px;
  }
  .headname h5{
    font-size: 14px;
  }
}
@media screen and (max-width: 700px){
  .headimg{
    margin-left: 5%;
  }
  .headname h2{
    font-size: 20px;
  }
  .headname h5{
    font-size: 12px;
  }
}
@media screen and (max-width: 650px){
  .headimg{
    margin-left: 5%;
  }
  .headname h2{
    font-size: 16px;
  }
  .headname h5{
    font-size: 10px;
  }
}

@media screen and (max-width: 520px){
  .headimg{
    margin-left: 5px;
  }
  .headname{
    margin-left: 5px;
  }
  .headname h2{
    font-size: 13px;
  }
  .headname h5{
    font-size: 8px;
  }
}
@media screen and (max-width: 900px){
	.nav a:first-child{
  	margin-left: 10%;
  }
}

@media screen and (max-width: 800px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 800px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav a:first-child{
  	margin-left: 40%;
  }

}
.check{
	margin-top: 10px;
	height: auto;
	overflow: hidden;
	width: 70%;
	border:1px solid white;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 5px;
  text-align: justify;
	
}
.heading{
    padding: 0 5px;
    color: #ff751a;
  }
  .maincol{
    color: #ff751a;
  }
  .content{
    
    overflow: hidden;
  }
  .about{
  padding: 10px;
  text-align: center;
  color: #ff751a;
  border:1px solid #ff751a;
  border-top: none;
}

.gallery{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
  overflow: hidden;
  margin-top: 10px;
}
.message{
  margin-top: 50px;
  
}

.photo a:hover{
  border-color: black;
}
.photo img{
  width: 100%;
  height: auto;
  border:1px solid #ff751a;
}
.principal-content, .announce-news{
  overflow: hidden;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
 
  overflow: hidden;
  margin-top: 10px;

}
.footer{
  width: 100%;
  background-color: #ff751a;
  color: white;
    overflow: hidden;
  border:1px solid #ff751a;
}
.center-align{
  text-align: center;
}
.gap{
  padding-bottom: 5px;
}
.info{
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}